@import url(reset.css);

[class*="__container"]{
    background-color: gray;
}

[class*="__list"]{
    color: rgb(152, 44, 44);
}

.header .header__content{
    background-color: black;
}
.header__title *{
    color: white;
}

.header__logo img{
    width: 100px;
}

.header__text .header__paragraph{
    color: red;
}

.h1{
    color: rgb(124, 246, 246);
}

/* ============================================================================= */

.main__text>p{
    color: rgb(13, 223, 13);
}

.main__span{
    font-weight: 900;
}

.main__paragraph ~ p{
    color: white;
}

.first__tittle + div{
    background-color: rgb(45, 45, 136);
}

/* ============================================================================= */

div.content__title{
    background-color: #fff;
}

.content__section + div{
    background-color: yellow;
}

.content__text.text{
    color: rgb(40, 40, 191);
}


.section1__text,
.section2__text,
.footer__text{
    color: coral;
}